ENCRYPTION_KEY="" # base64 encoded 16 byte key generated with `openssl rand -base64 16`
COOKIE_SECURE=false # should be true in production with https

APPLICATION_PATH="application/nextjs"
PRODUCTION_DESTINATION="server:path/to/application"
